
<% include partials/header.ejs %>
    <h1>Home</h1>
    <%= firstPara %>
  <%  newPosts.forEach(function(element){ %>
  <h1>  <%= element.Title %></h1>
  <p><%= element.Content.substring(0, 100) + ' ... '   %>
    <a  href="/posts/<%= element.Title %>">Read More</a>

  </p>
<%  }); %>

<% include partials/footer.ejs %>
